<h1>CheamCroquet#linkstocroquetsites</h1>
<p>Find me in app/views/cheam_croquet/linkstocroquetsites.html.erb</p>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">The crouket assosiation</a></li>
    <li><a href="#tabs-2">SECF</a></li>
    <li><a href="#tabs-3">Croquet Academy</a></li>
    <li><a href="#tabs-4">Croquet Equipment</a></li>
    <li><a href="#tabs-5">Croquet Glossary</a></li>
    <li><a href="#tabs-6">Croquet Rules</a></li>

  </ul>
  <div id="tabs-1">
    <p><a href="http://www.croquet.org.uk/"> CA Home page</a></p>
    <p><a href="https://www.croquet.org.uk/tournament/">CA Events</a></p>

    
  </div>
  <div id="tabs-2">
    <p><a href="http://www.southeastcroquet.org.uk/">Home page</a></p>
    
    
  </div>
  <div id="tabs-3">
    <p><a href="http://www.thecroquetacademy.com/">Home page</a></p>
  </div>
  
   <div id="tabs-4">
    <p><a href="http://www.oxfordcroquet.com/equip/"> Mallets, etc</a></p>
    <p><a href="http://www.bowlsdirect.com/contact.htm">Whites</a></p>

    
  </div>
  
   <div id="tabs-5">
    <p><a href="http://cornwall-croquet.org.uk/croquet_glossary.htm">Home page</a></p>
    
  </div>
  
   <div id="tabs-6">
    <p><a href="http://www.croquet.org.uk/association/laws.html">Association Rules</a></p>
    <p><a href="http://www.croquet.org.uk/golf/laws/contents.htm">Golf Rules</a></p>

    
  </div>
  
  
</div>
